# Dependency directories
node_modules

# build output files
/.next/
/out/
/public/sitemap.xml
tsconfig.tsbuildinfo
/test/coverage/

# production
/build

# environment variables files
.env.local

# vercel
.vercel

# Mac OS
**/.DS_Store

