# Dependency directories
node_modules

# build output files
/.next/
/out/

# production
/build
/public/robots.txt
/public/sitemap.xml

# environment variables files
.env.local

# vercel
.vercel

# Mac OS
**/.DS_Store

